.advice-card{
    background-color: $backgroundCard;
    max-width: 22.5rem;
    padding: 2rem;
    font-family: $fontText;
    border-radius: 0.8rem;
    position: relative;

    &__number, 
    &__text {
        margin: 0;
        text-align: center;
    }

    &__number {
        color: $neonGreen;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.15rem;
        font-size: 0.75rem;
    }

    &__text {
        color: $white;       
        font-size: 1.5rem;
        margin: 2rem 0;
    }
}

.dice-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    height: 56px;
    width: 56px;
    background-color: $neonGreen;
    border-radius: 50%;
    bottom: -28px;

    &:hover{
        box-shadow: 0px 0px 1rem 1rem $lightGreen;
    }

    img {
        margin: 0;
        padding: 0;
    }
}

.img-divider {
    margin-bottom: 2rem;
}

/* @media(min-width: 1024px) {
    .advice-card {
        max-width: 30rem;
    }
} */