// Colors
$lightGreen: rgb(206, 227, 233);
$neonGreen: hsl(150, 100%, 66%);
$backgroundCard: hsl(216, 19%, 38%);
$backgroundMain: hsl(219, 19%, 24%);
$white: #CEE3E9;

// Typography
$fontText: 'Manrope', sans-serif;
$fontSizeQuote: 28px;