// Colors
$lightGreen: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$backgroundCard: #4e5d73;
$backgroundMain: #323a49;
$white: #CEE3E9;

// Typography
$fontText: 'Manrope', sans-serif;
$fontSizeQuote: 28px;