// Colors
$lightGreen: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$backgroundCard: hsl(217, 19%, 38%);
$backgroundMain: hsl(217, 19%, 24%);

// Typography
$fontText: 'Manrope', sans-serif;
$fontSizeQuote: 28px;